
/* styles.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image:url('https://media.istockphoto.com/id/1290524888/vector/seamless-pattern-of-cute-dog-puppy-symbol.jpg?s=612x612&w=0&k=20&c=YmtM00PuP7khlFG7q1cMkR330PBPlGKOTKzSy-w6pIY=');
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(182, 19, 19, 0.1);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #050101;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #f50707;
}


.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #9afa1d;
}